.container_related_products {
  --height_related_carousel: 9rem;
}

.container_related_products .slick-slider {
  padding-bottom: 0;
  height: initial !important;
}

.container_related_products h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: var(--default-gap);
  margin-top: var(--default-gap);
  text-transform: uppercase;
}

.related_carousel {
  height: var(--height_related_carousel);
  position: relative;
  margin-bottom: 50px;
  /* background-color: tomato; */
}

.related_carousel .item {
  /* background-color: violet; */
  height: var(--height_related_carousel);
  overflow: hidden;
  width: 80px;
  /* margin: 0 -10px;  */
}

.product_related_link {
  /* background-color: #da8324; */
  height: 100%;
  display: block;
  margin: 0 10px;
  position: relative;
}

.product_related_link::before{
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: var(--primary_color);
  border-radius: 0.6rem 0.6rem 0 0;
}

.container_product_image > img {
  width: 100%;
  height: var(--height_related_carousel);
  object-fit: contain;
  position: relative;
  z-index: 1;
}

.related_carousel .slick-dots {
  position: absolute;
  top: var(--height_related_carousel);
}

.related_carousel .slick-dots li {
  width: 50px !important;
  height: 50px !important;
}

.related_carousel .slick-dots li button {
  text-indent: -10000%;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.related_carousel .slick-dots li::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 9px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px var(--primary_color);
  transition: width 0.6s ease-out;
  border-radius: 5px;
}

.related_carousel .slick-dots li.slick-active::before{
  width: 70%;
}

@media only screen and (min-width: 1024px){
  .related_carousel .slick-list {
    /* background: tomato; */
    width: 100%;
  }
}
