.working_hours {
  background: url(./assets/textura.png);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  padding: calc( var(--default-gap) * 2) 0;
}

.content_working_hours {
  width: var(--mobile_container_width);
  margin: auto;
}

.working_hours p {
  text-align: center;
  font-weight: 400;
}

.working_hours p strong {
  font-weight: 900;
  font-size: 1.3rem;
}

.highlight_phrase_home {
  line-height: 1;
  font-family: 'Dahlia', sans-serif !important;
  font-size: 5rem;
  margin: var(--default-gap) 0 calc( var(--default-gap) * 2) 0;
}