.container_hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Media query para tablet */
@media only screen and (min-width: 500px) {

}

/* Media query para desktop */
@media only screen and (min-width: 1024px) {
  .container_hero {
   position: fixed;
  }
}