.label_promotional {
  position: absolute;
  height: 6.7rem;
  width: 6.7rem;
  right: calc(var(--default-gap) / 2);
  top: calc(var(--default-gap) / 2);
  background-image: url(./assets/label.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(20deg);
  line-height: 1;
  color: var(--color-cta);
}

.off {
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  font-size: 1.8em;
}

.percentage_discount  {
  font-size: 1.8em;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}