.hero_container_image {
  width: 100%;
  height: 40vh;
}

.footer_container_image {
  width: 100%;
  height: 40vh;
}

.working_hours_image {
  height: 40vh;
}

.home_hero_container_image {
  height: 100vh;
}

.hero_container_image > img,
.footer_container_image > img,
.home_hero_container_image > img,
.working_hours_image > img {
  width: 100% ;
  height: 100%;
}

.hero_container_image > img,
.footer_container_image > img,
.home_hero_container_image > img {
  object-fit: cover;
}

.working_hours_image > img{
  object-fit: contain;
}

.hero_container_image > img {
  object-position: bottom;
}



@media only screen and (min-width: 1024px) {
  .hero_container_image{
    height: 100vh;
    width: 50vw;
    position: fixed;
    top: 0;
    left: 50vw;
  }

  .footer_container_image{
    width: 30vw;
    height: 30vw;
    position: relative;
    margin-left: 10vw;
    border-radius: 5px;
    overflow: hidden;
  }

}