.main_title {
  font-family: "lato", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  position: relative;
}

.main_title strong {
  font-family: 'Dahlia', sans-serif !important;
  font-size: 40px;
  text-transform: capitalize;
}