.main_title {
  font-family: "lato", sans-serif;
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  position: relative;
  transform: translateY(1.3rem);
}

.main_title span {
  font-family: 'Dahlia', sans-serif !important;
  font-size: 3rem;
  text-transform: capitalize;
}

@media only screen and (min-width: 500px) {
  .main_title {
    font-size: 2.5rem;
  }

  .main_title span {
    font-size: 4rem;
  }
}