.container_home_branding {
  --icon-size: 5rem;

  background-color: var(--primary_color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--default-gap) * 4 ) 3rem;
  color: var(--light_color);
  height: 21.6rem;

  position: absolute;
  left: 0;
  width: 50vw;
  height: 100vh;
  /* gap: 10vh; */
}

.home_branding_social_slogan {
  color: var(--light_color);
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-align: center;
}

.home_branding_logo {
  font-family: 'Dahlia', sans-serif;
  font-size: 10rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 10rem;
  writing-mode: tb-rl;
  flex-grow: 1;
}

.home_branding_social_links {
  height: var(--icon-size);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--default-gap);
  margin-top: var(--default-gap);
}

.location, .whats_app, .instagram {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  overflow: hidden;
  text-indent: -1000%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: violet; */
}

.explore {
  width: 100%;
  height: 100%;
  text-indent: -300%;
  overflow: hidden;
}

.lottie_wrapper {
  /* border: solid 1px; */
  width: 5rem;
  height: 8rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.show_more_bg {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1024px) {
  .container_home_branding {
   display: none;
  }
}

/* .location {
  background-image: url(./assets/location.svg);
}

.whats_app {
  background-image: url(./assets/whatsapp.svg);
}

.instagram {
  background-image: url(./assets/insta.svg);
} */

/* .linkedin { background-image: url(../../img/icon/linkedin.svg);}
.github { background-image: url(../../img/icon/GitHub-Mark-64px.png);}
.codpen { background-image: url(../../img/icon/codpen.svg);}
.behance { background-image: url(../../img/icon/behance.svg);} */