/* Hamburger icon */
.hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 10000;
  cursor: pointer;
}

.hamburger_animacao {
  width: 25px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--light_color);
  transition: ease-in-out 0.5s;
  position: absolute;
  top: 50%;
  right: 0;
}

.hamburger_animacao::before, .hamburger_animacao::after{
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  border-radius: 2px;
  right: 0;
  background-color: var(--light_color);
  transition: ease-in-out 0.5s;
}

.hamburger_animacao::before {
  top: 10px;
}

.hamburger_animacao::after {
  top: -10px;
}

.hamburger.open > .hamburger_animacao {
  background-color: rgb(0, 0, 0);
  width: 3px;
}

.hamburger.open > .hamburger_animacao::before{
  transform: rotate(-45deg);
  transform: rotate(45deg) translate(-8.67px, -5.67px);
}

.hamburger.open > .hamburger_animacao::after{
  transform: rotate(-45deg) translate(-7.67px, 5.67px);
} 