.container_menu {
  display: flex;
  gap: 30px;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: azure;
  top: 0;
  left: 0;
}


.active {
  font-weight: 700;
  color: tomato;
}

.menu_second_level {
  display: flex;
  gap: 20px;
}