.product_image_carousel {
  background: var(--color-cta);
  height: 40vh;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.product_image_carousel img {
  /* border: solid 2px black; */
  width: 100%;
  height: 100%;
  object-fit: contain;
}