.foter {
  background: var(--primary_color);
  color: var(--light_color);
  height: 70px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

@media only screen and (min-width: 1024px) {
  .foter {
    width: 50vw;
  }

}