.footer {
  background: var(--primary_color);
  color: var(--light_color);
  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.footer p {
   font-size: 1.4em;
   line-height: 1.4;
}

@media only screen and (min-width: 1024px) {
  .footer {
    position: fixed;
    width: 100vw;
    max-width: 100%;
    bottom: 0;
    left: 0;
    flex-direction: row;
    gap: calc(var(--default-gap)/2);
    height: calc(var(--footer-height) / 2);
  }

}