@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* 
font-family: 'Lato', sans-serif; 
*/

:root {
  --primary_color: #421602;
  --light_color: #ECE8DF;
  --color-transparente: #ffffff00;
  --color-title: #f7c130;
  --color-cta: #ff6347;
  --color-dark: #030c1a;
  --default-radius: 5px;
  --default-gap: 20px;
  --mobile-width: 90vw;
  --desktop-width: 50vw;
  --image-shadow: drop-shadow(16px 16px 14px #000000);

  width: 100vw;
  max-width: 100%;
}

body {
  font-family: "lato", sans-serif;
  color: var(--primary_color);
  font-weight: 300;
  font-size: 17px;
}

.main {
  width: 100%;
  min-height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--default-gap);
  display: flex;
  position: relative;
  background-color: var(--light_color);
}

.container_products{
  /* background-color: violet; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 15px;
  width: 100%;
  padding: 0 10vw;
}

.card_product {
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 150px;
}

.container_cta{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product_container {
  display: flex;
  width: 100;
  /* background-color: thistle; */
  justify-content: center;
  align-items: center;
}

.product_image {
  width: 100px;
  height: 100px;
  margin: 0;
}

.product_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* filter: drop-shadow(1px 1px 4px var(--primary_color)); */
}

.product_link{
  height: 50px;
  text-align: center;
  /* background-color: violet; */
  line-height: 1;
}