.product_title {
  display: block;
  /* background-color: tomato; */
  padding-bottom: calc(var(--default-gap) / 2);
  position: relative;
  text-transform: uppercase;
}

.product_title > h2 {
  font-size: 2em;
}

.product_title::before {
  content: "";
  position: absolute;
  bottom: 0.3em;
  left: 0;
  height: 0.1em;
  width: 100%;
  background: var(--primary_color);
}

.product_title::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 0.7em;
  width: 25%;
  background: var(--primary_color);
} 
